{% extends 'base.html' %}

{% load static %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/cadastroStyle.css' %}">
<h1 id="tempoExpiraSessao" style="display: none;">{{ tempoExpiraSessao }}</h1>
  <section class="mt-5 gradient-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6 col-md-8 col-lg-6 col-xl-4">
          <div class="card bg-dark text-white p-2" style="border-radius: 1rem;">
            <h5>Bem-vindo(a) {{ nome }}!</h5>
            <h3>Tempo de sessão: <span id="tempoRestante"></span></h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{% static 'js/tempoSessao.js' %}"></script>
{% endblock %}
