{% extends 'base.html' %}

{% load static %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="{% static 'css/cadastroStyle.css' %}">

  <section class="mt-5 gradient-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6 col-md-8 col-lg-6 col-xl-4">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
  
            <div class="card-body p-5 text-center">
  
              <form action="{% url 'validaLogin' %}" method="post">{% csrf_token %}
  
                <div class="mb-md-2 pb-2">
  
                  <h2 class="fw-bold mb-4 text-uppercase">Entrar</h2>
  
                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="email" name="email" class="form-control form-control-lg" placeholder="Email" />
                  </div>
  
                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="password" name="senha" class="form-control form-control-lg" placeholder="Senha" />
                  </div>
                <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="/auth/recuperacao">Esqueceu a senha?</a></p>
                  
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 mb-3 mt-2"
                    type="submit">Entrar</button>
                </div>  
              </form>

              <div>
                <p class="mb-0">Não tem uma conta? <a href="/auth/cadastro/" class="text-white-50 fw-bold">Cadastre-se!</a>
                </p>
              </div>
              
            {% if status == '1' %}
            <div class="alert alert-danger mt-4" role="alert">
              Email ou senha incorretos.
            </div>
            {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
